---
// Component imports
import HeroMedium from "../components/HeroMedium.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import TextArticleWOL from "../components/TextArticleWOL.astro";
import GridTwoColsText from "../components/GridTwoColsText.astro";

// Data imports
import { ARTICLE_GAP } from "../data/constants";
import { openGraph, whoWeAre, ourCommitment, whyChooseUs } from "../data/about";
---

<MainLayout
  title={openGraph.title}
  description={openGraph.description}
  openGraph={openGraph}
>
  <HeroMedium pageTitle="about us" />
  <!-- Who We Are -->
  <Section
    sectionTitle={whoWeAre.title}
    bgDark=""
    bgLight=""
    gradientDirection="bg-gradient-to-tl"
    gradientStart="from-emerald-400"
    gradientEnd="to-green-300"
    darkGradientStart="dark:from-emerald-700"
    darkGradientEnd="dark:to-green-600"
  >
    <!-- Grid -->
    <GridTwoColsText>
      <!-- What We Do -->
      <TextArticleWOL
        subsectionTitle={whoWeAre.firstSubtitle}
        subsectionParagraph={whoWeAre.firstPara}
      >
        <svg
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          width="30"
          viewBox="0 0 640 512"
          ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M323.4 85.2l-96.8 78.4c-16.1 13-19.2 36.4-7 53.1c12.9 17.8 38 21.3 55.3 7.8l99.3-77.2c7-5.4 17-4.2 22.5 2.8s4.2 17-2.8 22.5l-20.9 16.2L512 316.8 512 128l-.7 0-3.9-2.5L434.8 79c-15.3-9.8-33.2-15-51.4-15c-21.8 0-43 7.5-60 21.2zm22.8 124.4l-51.7 40.2C263 274.4 217.3 268 193.7 235.6c-22.2-30.5-16.6-73.1 12.7-96.8l83.2-67.3c-11.6-4.9-24.1-7.4-36.8-7.4C234 64 215.7 69.6 200 80l-72 48 0 224 28.2 0 91.4 83.4c19.6 17.9 49.9 16.5 67.8-3.1c5.5-6.1 9.2-13.2 11.1-20.6l17 15.6c19.5 17.9 49.9 16.6 67.8-2.9c4.5-4.9 7.8-10.6 9.9-16.5c19.4 13 45.8 10.3 62.1-7.5c17.9-19.5 16.6-49.9-2.9-67.8l-134.2-123zM16 128c-8.8 0-16 7.2-16 16L0 352c0 17.7 14.3 32 32 32l32 0c17.7 0 32-14.3 32-32l0-224-80 0zM48 320a16 16 0 1 1 0 32 16 16 0 1 1 0-32zM544 128l0 224c0 17.7 14.3 32 32 32l32 0c17.7 0 32-14.3 32-32l0-208c0-8.8-7.2-16-16-16l-80 0zm32 208a16 16 0 1 1 32 0 16 16 0 1 1 -32 0z"
          ></path></svg
        >
      </TextArticleWOL>

      <!-- Our Mission -->
      <TextArticleWOL
        subsectionTitle={whoWeAre.secondSubtitle}
        subsectionParagraph={whoWeAre.secondPara}
      >
        <svg
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          width="24"
          viewBox="0 0 512 512"
          ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32l224 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-224 0c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32l224 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-224 0c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32l288 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-288 0c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
          ></path></svg
        >
      </TextArticleWOL>
    </GridTwoColsText>
  </Section>
  <!-- Craftsmanship -->
  <Section sectionTitle="Craftsmanship" bgLight="bg-gray-100">
    <div
      class="text-center grid grid-cols-1 place-items-center gap-4 lg:text-left lg:grid-cols-2"
    >
      <!-- SVG -->
      <svg
        class="max-w-[500px] max-h-[400px]"
        aria-hidden="true"
        viewBox="0 0 132.292 105.833"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          style="fill:none;stroke:none;stroke-width:.502825"
          d="M30.016 66.438h132.292v105.833H30.016z"
          transform="translate(-30.016 -66.438)"></path>
        <path
          style="fill:#dc2626;stroke-width:.37235"
          d="M96.162 67.033a19.524 19.524 0 0 0-19.525 19.524 19.524 19.524 0 0 0 19.525 19.524 19.524 19.524 0 0 0 19.524-19.524 19.524 19.524 0 0 0-19.524-19.524zm3.167 9.701c.13 0 .238.045.32.135.085.087.127.19.127.306 0 .131-.043.246-.13.345a.405.405 0 0 1-.317.145.41.41 0 0 1-.307-.138.478.478 0 0 1 0-.651.406.406 0 0 1 .307-.142zm-15.718.331h2.233c.455 0 .823.11 1.106.331.285.218.427.51.427.875 0 .255-.05.48-.152.678a1.34 1.34 0 0 1-.413.486 1.792 1.792 0 0 1-.575.283c-.21.06-.431.09-.665.09h-.548v1.48c0 .081.013.152.038.214.028.06.083.106.165.138.042.016.114.031.217.045.106.014.203.022.29.024v.245h-2.098v-.245c.055-.005.134-.012.237-.024a.825.825 0 0 0 .22-.045.289.289 0 0 0 .149-.13.449.449 0 0 0 .048-.221V77.76a.642.642 0 0 0-.034-.217c-.023-.065-.077-.113-.162-.145a1.35 1.35 0 0 0-.262-.062 2.605 2.605 0 0 0-.22-.027v-.245zm1.413.282v2.16h.351c.248 0 .45-.037.603-.113a.927.927 0 0 0 .506-.63 1.565 1.565 0 0 0-.01-.72.91.91 0 0 0-.158-.356.8.8 0 0 0-.317-.25c-.131-.06-.294-.09-.49-.09h-.485zm8.97 1.11h.248l.051 1.092h-.237a1.077 1.077 0 0 0-.314-.592.805.805 0 0 0-.582-.231c-.189 0-.337.046-.445.14a.437.437 0 0 0-.161.342c0 .103.017.19.051.258a.49.49 0 0 0 .162.176c.069.046.155.09.258.131.106.04.236.084.39.134.152.049.294.105.427.169.135.064.247.136.334.214a.867.867 0 0 1 .217.286c.05.108.076.24.076.396a.964.964 0 0 1-.355.771c-.234.2-.539.3-.913.3-.197 0-.38-.036-.548-.107a1.505 1.505 0 0 1-.354-.196l-.07.224h-.258l-.034-1.182h.238c.018.09.057.195.117.314.06.12.132.227.217.323.09.102.196.187.32.256a.87.87 0 0 0 .424.103c.22 0 .39-.05.51-.148.12-.101.18-.245.18-.43a.527.527 0 0 0-.224-.434 1.264 1.264 0 0 0-.28-.142 4.857 4.857 0 0 0-.369-.127 3.793 3.793 0 0 1-.361-.132 1.488 1.488 0 0 1-.338-.2.972.972 0 0 1-.248-.296.846.846 0 0 1-.097-.413c0-.278.104-.513.31-.706.207-.193.484-.29.83-.29.134 0 .27.018.407.052.14.035.254.076.341.124l.08-.18zm3.313 0h.248l.052 1.092h-.238a1.077 1.077 0 0 0-.313-.592.805.805 0 0 0-.583-.231c-.188 0-.336.046-.444.14a.437.437 0 0 0-.162.342c0 .103.017.19.052.258a.49.49 0 0 0 .161.176c.07.046.155.09.259.131.105.04.236.084.39.134.151.049.293.105.426.169.136.064.247.136.335.214a.867.867 0 0 1 .217.286c.05.108.076.24.076.396a.964.964 0 0 1-.355.771c-.235.2-.54.3-.913.3-.198 0-.38-.036-.548-.107a1.505 1.505 0 0 1-.355-.196l-.069.224h-.258l-.034-1.182h.237c.019.09.057.195.117.314.06.12.132.227.217.323.09.102.196.187.32.256a.87.87 0 0 0 .424.103c.22 0 .39-.05.51-.148.12-.101.18-.245.18-.43a.527.527 0 0 0-.224-.434 1.264 1.264 0 0 0-.28-.142 4.857 4.857 0 0 0-.368-.127 3.793 3.793 0 0 1-.362-.132 1.488 1.488 0 0 1-.337-.2.972.972 0 0 1-.248-.296.846.846 0 0 1-.097-.413c0-.278.103-.513.31-.706.207-.193.484-.29.83-.29.134 0 .269.018.407.052.14.035.253.076.34.124l.08-.18zm-7.792.003c.193 0 .361.014.504.042a.91.91 0 0 1 .393.168.782.782 0 0 1 .265.349c.062.144.093.331.093.56 0 .33-.004.621-.01.876-.008.253-.011.53-.011.83 0 .09.015.161.045.214.032.053.08.098.145.134.034.021.088.032.161.035.076.002.153.003.231.003v.22c-.108.04-.203.07-.286.094a.918.918 0 0 1-.275.038.69.69 0 0 1-.43-.124.591.591 0 0 1-.204-.369h-.021a1.67 1.67 0 0 1-.482.379c-.17.087-.376.13-.617.13a.881.881 0 0 1-.63-.233.811.811 0 0 1-.245-.614c0-.13.018-.248.055-.351a.84.84 0 0 1 .166-.28.802.802 0 0 1 .227-.182c.094-.055.182-.098.265-.13.103-.04.313-.112.627-.218a4.7 4.7 0 0 0 .641-.248v-.34c0-.03-.007-.088-.02-.173a.663.663 0 0 0-.276-.461c-.083-.065-.201-.097-.355-.097a.792.792 0 0 0-.297.055.517.517 0 0 0-.189.11c0 .046.01.114.031.204.023.09.034.172.034.248 0 .08-.036.153-.11.22a.422.422 0 0 1-.3.1c-.114 0-.2-.04-.254-.12a.494.494 0 0 1 .031-.579 1.15 1.15 0 0 1 .292-.259 1.54 1.54 0 0 1 .376-.162c.147-.046.29-.069.43-.069zm13.048 0c.475 0 .867.161 1.175.483.31.319.465.745.465 1.278 0 .238-.038.474-.114.706a1.68 1.68 0 0 1-.324.585c-.158.184-.342.321-.551.41-.21.09-.443.135-.703.135-.216 0-.421-.04-.616-.12a1.576 1.576 0 0 1-.52-.359 1.732 1.732 0 0 1-.359-.562 2.033 2.033 0 0 1-.13-.747c0-.53.153-.964.46-1.302.31-.338.716-.507 1.217-.507zm4.695.004c.326 0 .567.102.724.307.158.202.237.471.237.809v1.767c0 .08.014.146.042.197a.276.276 0 0 0 .14.113c.056.023.103.04.142.049.041.009.098.016.169.02v.228h-1.664v-.228l.172-.014a.663.663 0 0 0 .158-.027.242.242 0 0 0 .142-.107.385.385 0 0 0 .048-.203v-1.747c0-.24-.058-.427-.172-.558a.525.525 0 0 0-.414-.196.918.918 0 0 0-.334.058c-.1.037-.19.083-.268.138a.778.778 0 0 0-.183.172c-.044.06-.076.108-.096.145v1.953c0 .079.015.143.048.193.032.05.08.09.144.117.048.023.1.04.155.052.058.012.116.02.176.024v.228h-1.664v-.228l.162-.014a.633.633 0 0 0 .148-.027.242.242 0 0 0 .141-.107.385.385 0 0 0 .049-.203v-2.098a.446.446 0 0 0-.052-.214.41.41 0 0 0-.138-.162.445.445 0 0 0-.155-.058 1.216 1.216 0 0 0-.193-.028v-.224l1.13-.076.049.049v.478h.017c.055-.055.124-.12.206-.196.083-.078.16-.14.234-.19a1.322 1.322 0 0 1 .7-.193zm-7.598.051.048.049v2.77a.4.4 0 0 0 .045.2.284.284 0 0 0 .147.116c.05.021.1.038.149.052.048.012.102.02.161.024v.228h-1.643v-.228l.162-.014a.629.629 0 0 0 .148-.027.243.243 0 0 0 .142-.107.385.385 0 0 0 .048-.203v-2.098a.393.393 0 0 0-.052-.2.425.425 0 0 0-.138-.155.61.61 0 0 0-.189-.069 1.305 1.305 0 0 0-.227-.038v-.224l1.199-.076zm2.896.207a.78.78 0 0 0-.455.131.972.972 0 0 0-.303.358c-.074.14-.125.3-.155.48a3.414 3.414 0 0 0 .007 1.133c.037.186.094.352.172.5a1 1 0 0 0 .293.347c.12.083.266.124.441.124.287 0 .514-.139.682-.417.168-.278.252-.661.252-1.15 0-.172-.017-.354-.052-.545a1.724 1.724 0 0 0-.155-.489.937.937 0 0 0-.29-.34.722.722 0 0 0-.437-.132zm-12.427 1.35a7.53 7.53 0 0 0-.513.17 2.08 2.08 0 0 0-.41.206.923.923 0 0 0-.272.279.697.697 0 0 0-.1.38c0 .19.049.33.148.42.1.089.228.134.382.134a.79.79 0 0 0 .43-.117c.125-.08.23-.175.314-.283l.02-1.188zm2.885 4.136a4.057 4.057 0 0 1 2.807 1.186l.34.34.341-.34a4.058 4.058 0 0 1 3.534-1.13 4.052 4.052 0 0 1 3.388 3.995v.164c0 1.176-.488 2.3-1.35 3.103l-5.126 4.78a1.153 1.153 0 0 1-1.572 0l-5.126-4.78a4.237 4.237 0 0 1-1.35-3.103v-.164a4.052 4.052 0 0 1 4.114-4.05z"
          transform="translate(-30.016 -66.438)"></path>
        <path
          style="fill:#facc15;fill-opacity:1;stroke:none;stroke-width:.37235"
          d="M95.215 132.628a19.524 19.524 0 0 0-19.523 19.525 19.524 19.524 0 0 0 19.523 19.524 19.524 19.524 0 0 0 19.525-19.524 19.524 19.524 0 0 0-19.525-19.525zm-2.183 9.496c.13 0 .237.045.32.134.085.087.128.19.128.307 0 .13-.044.246-.131.344a.406.406 0 0 1-.317.145.41.41 0 0 1-.307-.138.478.478 0 0 1 0-.651.405.405 0 0 1 .307-.141zm-11.791.33h2.232c.455 0 .824.11 1.106.331.285.218.428.51.428.875 0 .255-.05.481-.152.679a1.34 1.34 0 0 1-.413.485 1.794 1.794 0 0 1-.576.283c-.209.06-.43.09-.664.09h-.548v1.481c0 .08.012.151.038.213.027.06.082.106.165.138.041.017.114.032.217.045.106.014.202.022.29.024v.245h-2.099v-.245c.055-.004.135-.012.238-.024a.83.83 0 0 0 .22-.045.287.287 0 0 0 .148-.13.448.448 0 0 0 .05-.221v-3.528a.642.642 0 0 0-.036-.217c-.023-.064-.076-.112-.161-.145a1.356 1.356 0 0 0-.262-.062 2.608 2.608 0 0 0-.221-.027v-.244zm1.413.283v2.16h.351c.248 0 .449-.038.603-.114a.927.927 0 0 0 .506-.63c.026-.12.038-.227.038-.32 0-.132-.016-.265-.048-.4a.91.91 0 0 0-.158-.355.802.802 0 0 0-.318-.251c-.13-.06-.293-.09-.488-.09h-.486zm7.333.165h.627v1.058h.975v.33h-.968v1.899c0 .142.005.262.014.358a.683.683 0 0 0 .075.248.354.354 0 0 0 .166.152.709.709 0 0 0 .296.051c.058 0 .141-.004.251-.014a1.17 1.17 0 0 0 .238-.04v.25c-.15.063-.29.114-.424.156a1.583 1.583 0 0 1-.489.065c-.284 0-.485-.071-.603-.213-.114-.145-.172-.348-.172-.61v-2.301h-.613v-.331h.627v-1.058zm-2.841.948c.193 0 .36.014.502.041a.91.91 0 0 1 .393.169.782.782 0 0 1 .265.348c.062.145.093.331.093.561 0 .329-.003.62-.01.875a30.6 30.6 0 0 0-.01.83c0 .09.015.162.045.214.032.053.08.098.144.135.035.02.088.032.162.034.076.002.153.003.231.003v.221a4.01 4.01 0 0 1-.286.093.922.922 0 0 1-.276.038.69.69 0 0 1-.43-.124.59.59 0 0 1-.203-.369h-.021c-.15.166-.31.292-.483.38-.17.086-.375.13-.616.13a.881.881 0 0 1-.63-.234.81.81 0 0 1-.245-.614c0-.13.018-.248.055-.351a.84.84 0 0 1 .165-.28.802.802 0 0 1 .228-.181 1.88 1.88 0 0 1 .265-.131c.103-.04.312-.112.627-.217a4.7 4.7 0 0 0 .64-.248v-.341c0-.03-.006-.088-.02-.173a.662.662 0 0 0-.275-.461c-.083-.065-.201-.097-.355-.097a.79.79 0 0 0-.296.055.52.52 0 0 0-.19.11c0 .046.01.114.03.204.024.09.036.172.036.248 0 .08-.038.153-.111.22a.422.422 0 0 1-.3.1c-.115 0-.2-.04-.255-.12a.493.493 0 0 1 .031-.579c.076-.097.174-.183.293-.259.104-.064.229-.118.376-.161.147-.046.29-.07.43-.07zm9.003 0c.248 0 .46.038.637.117.177.078.32.184.43.32.106.129.184.28.235.455.053.174.08.364.08.568v.228h-2.25c0 .222.02.425.062.606.043.182.111.34.203.479.09.133.207.239.352.317a1.1 1.1 0 0 0 .516.114c.205 0 .38-.048.527-.142.15-.096.293-.269.43-.517l.242.149a1.74 1.74 0 0 1-.572.647 1.44 1.44 0 0 1-.823.242c-.273 0-.514-.049-.72-.145a1.414 1.414 0 0 1-.507-.393 1.691 1.691 0 0 1-.3-.579 2.484 2.484 0 0 1-.096-.699c0-.22.035-.437.104-.648.07-.214.174-.405.31-.575.13-.163.293-.294.485-.393a1.4 1.4 0 0 1 .655-.151zm8.17 0c.333 0 .604.08.813.24a.773.773 0 0 1 .314.652.574.574 0 0 1-.083.307c-.055.087-.146.13-.272.13a.454.454 0 0 1-.317-.103.311.311 0 0 1-.11-.23c0-.104.014-.21.041-.318.028-.11.044-.19.048-.241a.298.298 0 0 0-.186-.141.87.87 0 0 0-.262-.038.726.726 0 0 0-.317.073.8.8 0 0 0-.289.258c-.085.115-.154.27-.207.465-.052.195-.079.428-.079.7 0 .426.094.776.282 1.047.191.268.44.403.748.403a.928.928 0 0 0 .558-.163 1.57 1.57 0 0 0 .42-.485l.221.144a1.78 1.78 0 0 1-.6.645 1.41 1.41 0 0 1-.768.238c-.491 0-.876-.164-1.154-.49-.278-.326-.417-.764-.417-1.312a1.872 1.872 0 0 1 .438-1.237c.135-.163.306-.294.51-.393.204-.1.427-.151.668-.151zm3.407 0c.248 0 .46.038.637.117.177.078.32.184.43.32.107.129.184.28.235.455.053.174.079.364.079.568v.228h-2.25c0 .222.021.425.063.606.043.182.11.34.203.479.09.133.206.239.351.317a1.1 1.1 0 0 0 .517.114c.204 0 .38-.048.527-.142.15-.096.293-.269.43-.517l.242.149a1.738 1.738 0 0 1-.572.647c-.239.16-.513.242-.824.242-.273 0-.513-.049-.72-.145a1.414 1.414 0 0 1-.506-.393 1.691 1.691 0 0 1-.3-.579 2.485 2.485 0 0 1-.096-.699c0-.22.034-.437.103-.648.071-.214.175-.405.31-.575.131-.163.293-.294.486-.393.195-.1.414-.151.655-.151zm-7.158.003c.326 0 .567.102.724.307.158.202.237.471.237.81v1.766c0 .08.014.146.042.197a.277.277 0 0 0 .141.113c.055.023.102.04.141.05.042.008.098.015.17.02v.227h-1.665v-.227c.053-.005.11-.01.172-.014a.663.663 0 0 0 .159-.028.242.242 0 0 0 .141-.107.385.385 0 0 0 .048-.203v-1.746c0-.241-.057-.428-.172-.558a.525.525 0 0 0-.413-.197.921.921 0 0 0-.335.059c-.1.036-.19.082-.268.138a.775.775 0 0 0-.183.172c-.044.06-.076.108-.097.144v1.954c0 .078.017.142.05.192.031.051.08.09.144.118.048.023.1.04.155.051.057.012.116.02.175.025v.227H98.27v-.227l.162-.014a.634.634 0 0 0 .149-.028.242.242 0 0 0 .14-.107.385.385 0 0 0 .049-.203v-2.098a.446.446 0 0 0-.052-.214.409.409 0 0 0-.137-.161.445.445 0 0 0-.155-.059 1.222 1.222 0 0 0-.194-.028v-.223l1.13-.076.048.048v.479h.018c.055-.055.124-.12.207-.197a1.235 1.235 0 0 1 .537-.327c.117-.037.249-.055.396-.055zm-7.206.052.049.048v2.77a.4.4 0 0 0 .044.2.285.285 0 0 0 .149.117c.05.02.1.038.148.051.048.012.102.02.162.025v.227H92.27v-.227l.162-.014a.634.634 0 0 0 .148-.028.242.242 0 0 0 .141-.107.385.385 0 0 0 .05-.203v-2.098a.393.393 0 0 0-.053-.2.425.425 0 0 0-.138-.155.613.613 0 0 0-.19-.068 1.305 1.305 0 0 0-.227-.039v-.223l1.2-.076zm2.78.203a.74.74 0 0 0-.603.303c-.159.2-.245.479-.259.837h1.571c0-.128-.01-.266-.034-.413a1.234 1.234 0 0 0-.103-.369.7.7 0 0 0-.217-.258.59.59 0 0 0-.355-.1zm11.577 0a.74.74 0 0 0-.603.303c-.159.2-.245.479-.258.837h1.57c0-.128-.011-.266-.034-.413a1.234 1.234 0 0 0-.103-.369.7.7 0 0 0-.217-.258.589.589 0 0 0-.355-.1zm-19.96 1.354a7.532 7.532 0 0 0-.514.169 2.076 2.076 0 0 0-.41.206.925.925 0 0 0-.272.28.697.697 0 0 0-.1.379c0 .19.05.33.148.42.101.09.229.134.383.134.163 0 .307-.04.43-.117.125-.08.229-.174.314-.282l.02-1.189zm3.471 4.22H99.202a.796.796 0 1 1 0 1.593v.274c0 1.056-.422 2.07-1.169 2.816l-1.69 1.691 1.688 1.691a3.985 3.985 0 0 1 1.168 2.816v.274a.796.796 0 1 1 0 1.595H91.23a.796.796 0 1 1 0-1.595v-.274c0-1.055.42-2.069 1.168-2.816l1.688-1.69-1.688-1.692a3.985 3.985 0 0 1-1.168-2.816v-.274a.796.796 0 1 1 0-1.594zm3.984 7.502-1.69 1.689a2.39 2.39 0 0 0-.7 1.69v.274h4.78v-.27a2.39 2.39 0 0 0-.699-1.692l-1.69-1.69z"
          transform="translate(-30.016 -66.438)"></path>
        <path
          style="fill:#16a34a;fill-opacity:1;stroke:none;stroke-width:.37235"
          d="M63.229 99.966a19.524 19.524 0 0 0-19.525 19.524 19.524 19.524 0 0 0 19.525 19.524 19.524 19.524 0 0 0 19.524-19.524A19.524 19.524 0 0 0 63.23 99.966zm-2.286 9.11.048.051v3.593l.578-.575c.21-.206.385-.39.527-.551a.645.645 0 0 0 .059-.08c.023-.034.034-.061.034-.082 0-.062-.05-.108-.15-.138a1.735 1.735 0 0 0-.287-.062v-.22h1.495v.213c-.193.058-.364.13-.513.217a2.149 2.149 0 0 0-.572.455c-.101.104-.242.239-.424.406.189.232.4.51.634.834.236.324.409.559.517.703.1.136.192.224.272.265a.91.91 0 0 0 .351.076v.228h-1.026l-.576-.834a17.106 17.106 0 0 0-.637-.865l-.282.265v.806a.43.43 0 0 0 .045.207c.03.053.078.092.144.117a.973.973 0 0 0 .334.076v.228h-1.667v-.228l.165-.014a.905.905 0 0 0 .145-.027.258.258 0 0 0 .145-.107.385.385 0 0 0 .048-.203v-3.948a.524.524 0 0 0-.055-.238.404.404 0 0 0-.138-.172.464.464 0 0 0-.227-.073 6.425 6.425 0 0 0-.245-.024v-.22l1.258-.08zm6.91 0 .05.051v4.662a.4.4 0 0 0 .044.199c.03.05.078.09.144.117a.817.817 0 0 0 .318.076v.228H66.75v-.228l.17-.014a.902.902 0 0 0 .147-.027.258.258 0 0 0 .145-.107.385.385 0 0 0 .049-.203v-3.935a.495.495 0 0 0-.056-.23.435.435 0 0 0-.138-.173.71.71 0 0 0-.227-.075 2.066 2.066 0 0 0-.265-.042v-.22l1.278-.08zm2.549 0 .048.051v4.662a.4.4 0 0 0 .045.199c.03.05.078.09.145.117a.817.817 0 0 0 .316.076v.228H69.3v-.228l.168-.014a.909.909 0 0 0 .148-.027.258.258 0 0 0 .145-.107.385.385 0 0 0 .048-.203v-3.935a.494.494 0 0 0-.055-.23.435.435 0 0 0-.138-.173.71.71 0 0 0-.227-.075 2.066 2.066 0 0 0-.265-.042v-.22l1.278-.08zm-5.413.113c.13 0 .238.045.32.135.085.087.128.189.128.306 0 .131-.044.246-.13.345a.406.406 0 0 1-.318.145.41.41 0 0 1-.307-.138.478.478 0 0 1 0-.651.405.405 0 0 1 .307-.142zm-7.873.22c.225 0 .426.035.603.104.18.069.342.15.49.241l.14-.234h.276l.028 1.623h-.28a5.822 5.822 0 0 0-.171-.535 1.845 1.845 0 0 0-.245-.461 1.05 1.05 0 0 0-.885-.438.8.8 0 0 0-.559.21.668.668 0 0 0-.23.514c0 .211.049.387.148.527.098.138.242.251.43.34.168.081.332.151.493.211.163.058.32.12.472.186.138.06.27.128.396.203.129.076.24.165.334.266.103.115.18.24.227.379.051.135.076.294.076.475 0 .432-.16.788-.479 1.068-.319.28-.715.42-1.188.42-.218 0-.436-.033-.654-.1a2.582 2.582 0 0 1-.566-.247l-.147.25h-.276l-.049-1.674h.28c.057.207.124.395.2.562.078.166.18.32.306.465.12.136.259.244.417.324.16.08.347.12.558.12.159 0 .296-.02.414-.061.119-.042.215-.1.289-.176a.7.7 0 0 0 .162-.265c.036-.103.055-.222.055-.355a.971.971 0 0 0-.165-.544 1.016 1.016 0 0 0-.493-.386c-.15-.06-.32-.125-.514-.197a8.29 8.29 0 0 1-.5-.206 1.642 1.642 0 0 1-.643-.486c-.152-.202-.228-.465-.228-.79 0-.185.038-.358.114-.52.076-.16.184-.304.324-.43.133-.12.29-.213.472-.28.181-.068.37-.103.568-.103zm8.204 1.561.048.049v2.77a.4.4 0 0 0 .045.199.285.285 0 0 0 .148.117c.05.021.1.038.148.052.048.011.102.02.162.024v.228h-1.643v-.228l.161-.014a.633.633 0 0 0 .149-.027.242.242 0 0 0 .14-.107.385.385 0 0 0 .05-.203v-2.098a.393.393 0 0 0-.052-.2.425.425 0 0 0-.138-.155.613.613 0 0 0-.19-.069 1.306 1.306 0 0 0-.227-.038v-.224l1.199-.076zm-2.093 5.113a.8.8 0 0 1 .72.45l1.61 3.313 3.597.53a.802.802 0 0 1 .446 1.362l-2.608 2.58.618 3.647a.805.805 0 0 1-1.17.842l-3.21-1.715-3.212 1.715a.803.803 0 0 1-1.17-.841l.617-3.647-2.609-2.581a.8.8 0 0 1 .445-1.362l3.596-.53 1.609-3.312a.802.802 0 0 1 .72-.451z"
          transform="translate(-30.016 -66.438)"></path>
        <path
          style="fill:#2563eb;fill-opacity:1;stroke:none;stroke-width:.37235;stroke-opacity:1"
          d="M129.094 99.966a19.524 19.524 0 0 0-19.524 19.524 19.524 19.524 0 0 0 19.524 19.524 19.524 19.524 0 0 0 19.525-19.524 19.524 19.524 0 0 0-19.525-19.524zm7.628 9.944.048.051v4.662c0 .08.016.147.045.2.03.05.079.089.145.116a.817.817 0 0 0 .317.076v.228h-1.657v-.228l.169-.014a.91.91 0 0 0 .148-.027.258.258 0 0 0 .145-.107.385.385 0 0 0 .048-.203v-3.934a.496.496 0 0 0-.055-.231.433.433 0 0 0-.138-.172.708.708 0 0 0-.227-.076 2.07 2.07 0 0 0-.266-.042v-.22l1.278-.08zm-2.6.113c.131 0 .238.045.32.135.085.087.128.19.128.306 0 .131-.044.246-.131.345a.405.405 0 0 1-.317.145.41.41 0 0 1-.306-.138.478.478 0 0 1 0-.651.405.405 0 0 1 .306-.142zm-16.41.331h2.136c.294 0 .584.046.869.138.284.09.533.211.744.365.287.204.512.472.675.803.163.33.245.72.245 1.168 0 .416-.079.776-.235 1.081-.156.306-.36.556-.61.751a2.647 2.647 0 0 1-.85.438c-.315.097-.64.145-.975.145h-2.026v-.245c.066 0 .153-.006.258-.017a.868.868 0 0 0 .214-.045.29.29 0 0 0 .148-.131.444.444 0 0 0 .048-.213v-3.528a.51.51 0 0 0-.041-.21.289.289 0 0 0-.155-.148.937.937 0 0 0-.23-.076 1.918 1.918 0 0 0-.215-.031v-.245zm1.957.28c-.094 0-.2.001-.32.006-.117.002-.205.005-.262.007v3.759c0 .209.061.353.183.434.121.08.308.12.56.12.293 0 .548-.052.766-.155a1.38 1.38 0 0 0 .53-.43c.143-.193.246-.416.31-.669.067-.255.1-.549.1-.882 0-.328-.043-.624-.13-.889a2.048 2.048 0 0 0-.383-.696 1.68 1.68 0 0 0-.585-.444 1.785 1.785 0 0 0-.769-.162zm7.588.168h.627v1.057h.975v.331h-.968v1.899c0 .142.005.261.014.358a.683.683 0 0 0 .076.248.354.354 0 0 0 .165.151.706.706 0 0 0 .296.052c.058 0 .142-.004.252-.013a1.17 1.17 0 0 0 .238-.042v.251c-.15.062-.29.114-.424.155a1.587 1.587 0 0 1-.49.066c-.284 0-.485-.07-.602-.213-.115-.145-.173-.348-.173-.61v-2.302h-.612v-.33h.626v-1.058zm12.772.944h.248l.052 1.092h-.238a1.078 1.078 0 0 0-.313-.592.805.805 0 0 0-.583-.231c-.188 0-.336.047-.444.141a.437.437 0 0 0-.162.341c0 .104.017.19.052.259a.49.49 0 0 0 .161.175c.07.046.155.09.259.131.105.039.236.084.39.134.151.049.293.105.426.17.136.064.247.135.335.213a.867.867 0 0 1 .217.286c.05.107.076.24.076.396a.964.964 0 0 1-.355.771c-.235.2-.54.3-.914.3-.197 0-.38-.035-.547-.106a1.504 1.504 0 0 1-.355-.197l-.07.224h-.257l-.035-1.182h.238c.019.09.057.194.117.314.06.12.132.227.217.324.09.101.196.186.32.255a.87.87 0 0 0 .424.103c.22 0 .39-.05.51-.148.12-.101.18-.245.18-.43a.527.527 0 0 0-.224-.434 1.264 1.264 0 0 0-.28-.142 4.85 4.85 0 0 0-.368-.128 3.777 3.777 0 0 1-.362-.13 1.489 1.489 0 0 1-.337-.2.97.97 0 0 1-.249-.296.846.846 0 0 1-.096-.414.93.93 0 0 1 .31-.706c.207-.193.484-.29.83-.29.134 0 .269.018.407.052.14.035.253.076.34.124l.08-.18zm-15.317.003c.248 0 .46.04.637.118.177.078.32.185.43.32.107.129.185.28.236.455.052.174.079.364.079.568v.228h-2.25c0 .222.02.424.062.606.044.181.111.341.203.479.09.133.207.239.352.317a1.1 1.1 0 0 0 .516.113c.205 0 .38-.047.527-.14.15-.097.293-.27.43-.517l.242.147a1.741 1.741 0 0 1-.572.648 1.44 1.44 0 0 1-.823.241c-.273 0-.513-.048-.72-.145a1.414 1.414 0 0 1-.506-.392 1.69 1.69 0 0 1-.3-.58 2.484 2.484 0 0 1-.097-.698c0-.22.035-.436.104-.648.07-.213.174-.405.31-.575.13-.163.293-.294.486-.393.195-.101.413-.152.654-.152zm6.224 0c.193 0 .36.014.503.042a.91.91 0 0 1 .393.169.78.78 0 0 1 .265.348c.062.144.093.332.093.561 0 .329-.004.62-.01.875-.007.253-.01.53-.01.83 0 .09.014.161.044.214a.346.346 0 0 0 .306.169c.076.002.153.003.232.003v.22c-.108.04-.204.07-.286.094a.921.921 0 0 1-.276.037.69.69 0 0 1-.43-.124.59.59 0 0 1-.204-.368h-.02c-.15.165-.31.291-.483.379-.17.087-.375.131-.617.131a.882.882 0 0 1-.63-.235.81.81 0 0 1-.244-.612c0-.131.018-.248.054-.352a.84.84 0 0 1 .166-.279.803.803 0 0 1 .227-.183c.094-.055.183-.098.266-.13.103-.04.312-.112.627-.218.317-.105.53-.188.64-.248v-.34c0-.03-.007-.088-.02-.173a.663.663 0 0 0-.275-.462c-.083-.064-.202-.096-.356-.096a.79.79 0 0 0-.296.055.52.52 0 0 0-.19.11c0 .046.01.114.031.204.023.09.035.172.035.248 0 .08-.037.154-.11.22a.422.422 0 0 1-.3.1c-.115 0-.2-.04-.255-.12a.492.492 0 0 1 .031-.579c.076-.097.174-.183.293-.259.103-.064.228-.118.375-.162.147-.046.291-.069.431-.069zm3.517.056.048.048v2.77c0 .08.015.147.045.2a.284.284 0 0 0 .148.116c.05.021.1.038.148.052.048.012.102.02.162.024v.228h-1.643v-.228l.162-.014a.633.633 0 0 0 .148-.027.242.242 0 0 0 .141-.107.385.385 0 0 0 .048-.203v-2.098a.393.393 0 0 0-.052-.2.423.423 0 0 0-.137-.155.613.613 0 0 0-.19-.069 1.3 1.3 0 0 0-.227-.038v-.224l1.199-.075zm-9.748.203a.74.74 0 0 0-.602.303c-.159.2-.245.479-.259.837h1.571c0-.128-.012-.266-.035-.413a1.237 1.237 0 0 0-.103-.37.7.7 0 0 0-.217-.257.59.59 0 0 0-.355-.1zm6.844 1.354a7.507 7.507 0 0 0-.513.169 2.076 2.076 0 0 0-.41.206.925.925 0 0 0-.272.28.695.695 0 0 0-.1.378c0 .19.05.33.148.42.1.09.228.135.382.135a.792.792 0 0 0 .431-.117 1.28 1.28 0 0 0 .313-.283l.021-1.188zm1.651 3.467c.4 0 .799.153 1.104.458h.003l.57.57c.61.61.61 1.6 0 2.21l-1.376 1.375-2.781-2.78 1.376-1.375a1.557 1.557 0 0 1 1.104-.458zm-7.222.035c.3 0 .6.114.83.342l.483.483-.024.022-1.562 1.562a.392.392 0 0 0 0 .551c.151.152.4.152.551 0l1.562-1.561.022-.025 1.1 1.1-3.562 3.564-2.133-2.136a1.174 1.174 0 0 1 0-1.656l1.906-1.904c.228-.228.528-.342.827-.342zm4.19 2.35 2.782 2.782-6.22 6.218a1.369 1.369 0 0 1-.59.346l-2.538.725a.584.584 0 0 1-.725-.725l.725-2.538c.063-.224.183-.427.346-.59l.003.002 6.217-6.22zm2.657 4.01 1.1 1.1c-.006.007-.016.015-.024.022l-1.561 1.562a.392.392 0 0 0 0 .551c.151.151.4.151.551 0l1.562-1.562.022-.024.483.486a1.174 1.174 0 0 1 0 1.657l-1.906 1.903a1.174 1.174 0 0 1-1.656 0l-2.133-2.133 3.562-3.562z"
          transform="translate(-30.016 -66.438)"></path>
      </svg>
      <!-- Article -->
      <article class=`grid gap-${ARTICLE_GAP}`>
        <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-balance">
          Handcrafted with Care
        </h3>
        <p class="md:text-lg max-w-[500px] text-pretty">
          Every arrangement is a reflection of our dedication to artistry and
          attention to detail. Each piece is carefully crafted by skilled
          designers, using high-quality materials that ensure durability and
          elegance.
        </p>
      </article>
    </div>
  </Section>
  <!-- Our Commitment -->
  <Section bgDark="dark:bg-neutral-950" sectionTitle={ourCommitment.title}>
    <!-- Grid -->
    <GridTwoColsText>
      <!-- Inventory -->
      <TextArticleWOL
        subsectionTitle={ourCommitment.firstSubtitle}
        subsectionParagraph={ourCommitment.firstPara}
      >
        <svg
          aria-hidden="true"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          width="30"
          viewBox="0 0 640 512"
          ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M0 488L0 171.3c0-26.2 15.9-49.7 40.2-59.4L308.1 4.8c7.6-3.1 16.1-3.1 23.8 0L599.8 111.9c24.3 9.7 40.2 33.3 40.2 59.4L640 488c0 13.3-10.7 24-24 24l-48 0c-13.3 0-24-10.7-24-24l0-264c0-17.7-14.3-32-32-32l-384 0c-17.7 0-32 14.3-32 32l0 264c0 13.3-10.7 24-24 24l-48 0c-13.3 0-24-10.7-24-24zm488 24l-336 0c-13.3 0-24-10.7-24-24l0-56 384 0 0 56c0 13.3-10.7 24-24 24zM128 400l0-64 384 0 0 64-384 0zm0-96l0-80 384 0 0 80-384 0z"
          ></path></svg
        >
      </TextArticleWOL>
      <!-- Delivery -->
      <TextArticleWOL
        subsectionTitle={ourCommitment.secondSubtitle}
        subsectionParagraph={ourCommitment.secondPara}
      >
        <svg
          aria-hidden="true"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          width="30"
          viewBox="0 0 640 512"
          ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M112 0C85.5 0 64 21.5 64 48l0 48L16 96c-8.8 0-16 7.2-16 16s7.2 16 16 16l48 0 208 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 160l-16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l16 0 176 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 224l-48 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l48 0 144 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 288l0 128c0 53 43 96 96 96s96-43 96-96l128 0c0 53 43 96 96 96s96-43 96-96l32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64 0-32 0-18.7c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7L416 96l0-48c0-26.5-21.5-48-48-48L112 0zM544 237.3l0 18.7-128 0 0-96 50.7 0L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"
          ></path></svg
        >
      </TextArticleWOL>
    </GridTwoColsText>
  </Section>
  <!-- Why Choose Us -->
  <Section
    sectionTitle={whyChooseUs.title}
    bgDark=""
    bgLight=""
    gradientDirection="bg-gradient-to-tl"
    gradientStart="from-emerald-400"
    gradientEnd="to-green-300"
    darkGradientStart="dark:from-emerald-700"
    darkGradientEnd="dark:to-green-600"
  >
    <!-- Grid -->
    <GridTwoColsText>
      <!-- Affordable Elegance -->
      <TextArticleWOL
        subsectionTitle={whyChooseUs.firstSubtitle}
        subsectionParagraph={whyChooseUs.firstPara}
      >
        <!-- SVG -->
        <svg
          aria-hidden="true"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          width="30"
          viewBox="0 0 640 512"
          ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M384 32l128 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L398.4 96c-5.2 25.8-22.9 47.1-46.4 57.3L352 448l160 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l160 0 0-294.7c-23.5-10.3-41.2-31.6-46.4-57.3L128 96c-17.7 0-32-14.3-32-32s14.3-32 32-32l128 0c14.6-19.4 37.8-32 64-32s49.4 12.6 64 32zm55.6 288l144.9 0L512 195.8 439.6 320zM512 416c-62.9 0-115.2-34-126-78.9c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C627.2 382 574.9 416 512 416zM126.8 195.8L54.4 320l144.9 0L126.8 195.8zM.9 337.1c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C242 382 189.7 416 126.8 416S11.7 382 .9 337.1z"
          ></path></svg
        >
      </TextArticleWOL>
      <!-- Meaningful Tributes -->
      <TextArticleWOL
        subsectionTitle={whyChooseUs.secondSubtitle}
        subsectionParagraph={whyChooseUs.secondPara}
      >
        <!-- SVG -->
        <svg
          aria-hidden="true"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          width="27"
          viewBox="0 0 576 512"
          ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M163.9 136.9c-29.4-29.8-29.4-78.2 0-108s77-29.8 106.4 0l17.7 18 17.7-18c29.4-29.8 77-29.8 106.4 0s29.4 78.2 0 108L310.5 240.1c-6.2 6.3-14.3 9.4-22.5 9.4s-16.3-3.1-22.5-9.4L163.9 136.9zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5L192 512 32 512c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l36.8 0 44.9-36c22.7-18.2 50.9-28 80-28l78.3 0 16 0 64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0-16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l120.6 0 119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384c0 0 0 0 0 0l-.9 0c.3 0 .6 0 .9 0z"
          ></path></svg
        >
      </TextArticleWOL>
    </GridTwoColsText>
  </Section>
</MainLayout>
